.banner {
  .banner-inner {
    display: flex;
    flex-direction: column-reverse;
    color: #ffffff;
  }
  .banner-caption {
    background-color: #121E28cc;
    padding: 24px 32px;
    width: 936px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    .banner-caption--txt {
      width: calc(100% - 148px);
      padding-right: 20px;
      h3 {
        margin-bottom: 8px;
      }
    }
    .btn {
      width: 148px;
    }
  }

  @media (min-width: 1200px) {
    height: 450px;
    padding-top: 0;
  }

  @media (min-width: 1400px) {
    height: 560px;
    padding-top: 0;
  }

  @media (max-width: 960px) {
    height: 320px;
    padding-top: 0;
    .container {
      max-width: 100%;
      height: 100%;
      padding: 0;
    }
    .banner-caption {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: #121e28b3;
      .banner-caption--txt {
        margin-bottom: 32px;
        width: 100%;
      }
    }
  }

  @media (max-width: 640px) {
    padding-top: calc(100% * 360 / 375);
  }
}

#home-slide {
  position: relative;
  .slick-arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 48px;
    height: 48px;
    background-color: $gray05;
    color: #ffffff;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 2;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $primary-dark;
      opacity: 1;
    }

    @media (max-width: 960px) {
      display: none !important;
    }
  }

  .slide-next {
    right: 32px;
  }
  .slide-prev {
    left: 32px;
  }
}