.contacts {
  h4 {
    margin-bottom: 0;
    width: 276px;
  }

  .contact-list {
    width: calc(100% - 250px);
    .contact-item {
      color: $primary;
      display: inline-flex;
      align-items: center;
      margin-right: 86px;
      i {
        font-size: 24px;
        margin-right: 18px;
      }
    }
  }

  @media (max-width: 960px) {
    .container {
      flex-direction: column;
    }

    h4 {
      width: 100%;
      text-align: center;
    }

    .contact-list {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .contact-item {
        width: 25%;
        margin: 0;
      }
    }
  }

  @media (max-width: 640px) {
    .contact-list {
      width: 100%;
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .contact-item {
        width: 50%;
        margin: 0;
        margin-bottom: 16px;
      }
    }
  }
}

.contact-note {
  table {
    border: none;
    tr td {
      border: none;
      padding-right: 16px;
      height: 40px;
      &:first-child {
        font-weight: bold;
      }
    }
  }

  a {
    color: $primary;
  }
}