// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  padding-top: 64px;
}

.footer {
  padding-bottom: 40px;
  .contact-group {
    a {
      display: block;
      padding: 6px 0;
    }

    i {
      margin-right: 12px;
    }
  }

  .footer-links {
    margin-top: 32px;
    a {
      color: #ffffff;
      display: block;
      padding: 8px 0;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    .footer-links-title {
      text-transform: uppercase;
      color: #FFFFFF;
      opacity: 0.5;
      margin-bottom: 16px;
    }
  }

  iframe {
    width: 100%;
    height: 220px;
    margin-top: 60px;
  }
}

.copyright {
  padding: 16px;
  color: #ffffff70;
  text-align: center;
  border-top: solid 1px #ffffff30;
}