
header {
  background-size: cover;
  background-position: right;
  background-color: #ffffff;
  position: relative;
  .user-info {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px !important;
    height: 56px;
    background-color: $gray01;
    font-weight: 500;
    span {
      color: $secondary-orange;
    }
    .user-avatar {
      width: 32px;
      height: 32px;
      background: #47D3D3;
      border-radius: 50%;
      position: relative;
      margin-right: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      &::after {
        position: absolute;
        width: 36px;
        height: 36px;
        content: "";
        background-color: #47d3d34d;
        top: -2px;
        left: -2px;
        border-radius: 50%;
      }
    }
  }
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;

    .header-left {
      width: 50%;
    }

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 80px;
        height: 80px;
        object-fit: fill;
        margin-right: 15px;
      }

      h1 {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.01em;
      }

      .logo-light {
        display: none;
      }
    }

    .slogan {
      font-family: 'Noto Serif', serif;
      width: 50%;
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
    }

    .header-tool {
      display: none;
    }
  }

  .menu {
    .menu-sub {
      top: calc(100% - 2px);
      margin-top: 0;
      padding-top: 0;
      box-shadow: none;
      border-bottom: solid 5px $secondary-orange;
    }
    .logo-white {
      img {
        height: 47px;
        width: auto;
      }

      display: none !important;
    }

    &.sticky {
      position: fixed;
      width: 100%;
      top: 0;
      background-color: $secondary-orange;
      z-index: 99;

      .logo-white {
        display: inline-block !important;
      }

      .menu-item>a {
        color: #ffffff !important;
        display: block;
      }

      .menu-items {
        display: flex;
        align-items: center;
      }

      .search-box {
        .search-icon {
          color: #ffffff !important;
        }

        input {
          background-color: transparent;
          color: #ffffff !important;

          &::placeholder {
            color: #ffffff !important;
          }
          &:focus {
            border: none;
            outline: none;
            background-color: #00000050;
          }
        }
      }
    }

    .menu-inner {
      font-weight: 600;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-items {
      list-style: none;
      padding: 0;
      margin: 0 -20px;

      &>li {
        display: inline-block;
        text-transform: uppercase;
        &:hover {
          &>a {
            color: $primary !important;
          }
        }
        &>a {
          padding: 8px 20px;
          color: $black;
          &:hover {
            color: $primary !important;
          }
        }
        &.active>a{
          color: $primary !important;
        }
      }
    }

    .search-box {
      position: relative;
      .search-icon {
        position: absolute;
        top: 9px;
        left: 12px;
        color: #121E28;
      }
      input {
        border: none;
        height: 36px;
        padding-left: 40px;
        width: 240px;
        background-color: transparent;
        &:focus {
          border: none;
          outline: none;
          background-color: $gray02;
        }
      }
    }
  }


  @media (max-width: 960px) {
    .user-info {
      display: flex;
    }
    .header {
      display: block;

      .header-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .slogan {
        width: 100%;
        margin-top: 20px;
      }

      .logo {
        img {
          height: 48px;
          width: 48px;
        }
        h1 {
          font-size: 18px;
          margin-bottom: 0;
        }
        width: 60%;
        font-size: 14px;
      }

      .header-tool {
        width: calc(40%);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 24px;
        .search-box-mb {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          transition: all .3s;
          i {
            position: absolute;
            top: 8px;
            left: 10px;
          }
          input {
            display: none;
          }

          &.active {
            background-color: $gray02;
            width: 200px;
            transform: translateX(calc(-50% + 8px));
            input {
              display: block;
              width: 100%;
              height: 100%;
              border: none;
              background-color: transparent;
              padding-left: 45px;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    .menu {
      display: none;
    }
    .lang {
      position: relative;
      height: 20px;
      margin-right: 12px;
      margin-left: 12px;
      cursor: pointer;
      color: $gray05;
      img {
        height: 20px;
        width: 28px;
        object-fit: cover;
        display: block;
      }

      .lang-select {
        position: absolute;
        padding: 8px;
        background-color: #ffffff;
        visibility: hidden;
        opacity: 0;
        top: calc(100% + 5px);
        right: 0;
        transform: translateY(10px);
        transition: all .3s;
        z-index: 100;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        &.show {
          visibility: inherit;
          opacity: 1;
          transform: translateY(0px);
        }

        .lang-option {
          display: flex;
          align-items: center;
          width: 150px;
          padding: 5px;
          padding-right: 28px;
          position: relative;
          color: $gray04;
          font-size: 14px;
          img {
            margin-right: 8px;
          }
          i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
            width: 12px;
          }
          &.active {
            color: $primary-dark;
          }
        }
      }
    }

    &.sticky {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;
      background-color: $secondary-orange;
      background-image: none !important;
      color: #ffffff;
      .header {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $secondary-orange;
        .search-box-mb.active {
          background-color: #d0541f !important;
          input {
            color: #ffffff;
            &::placeholder {
              color: #ffffff;
            }
          }
        }
        .lang {
          &>img {
            border: solid thin #ffffff;
          }
        }
        .search-button {
          color: #ffffff;
        }
        .menu-button {
          span {
            background-color: #ffffff;
          }
        }
      }
      .slogan {
        display: none;
      }
      .menu.menu-mobile--open {
        top: 72px;
        height: calc(100vh - 72px);
      }
    }
    .menu.menu-mobile--open {
      display: block;
      position: fixed;
      top: 140px;
      left: 0;
      width: 100%;
      height: calc(100vh - 140px);
      background-color: #ffffff;
      padding-bottom: 20px;
      z-index: 99;
      .search-box {
        display: none;
      }
      .menu-inner {
        height: 100%;
        display: block;
        overflow-y: auto;
        padding: 0;
        .menu-items {
          margin: 0;
          .menu-item {
            display: block !important;
            border-top: solid thin $gray02;
            &>a {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 16px !important;
              height: 56px;
              box-sizing: border-box;
              position: relative;
              font-size: 16px;
              .menu-item-btn {
                width: 40px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
              }
            }

            .menu-sub {
              display: none;
              opacity: 1;
              visibility: inherit;
              transform: translateY(0);
              position: relative;
              border-bottom: none;
              border-top: none !important;
              .menu-sub--inner {
                display: block;
                padding: 0;
                .container {
                  padding: 0;
                }
                .menu-group {
                  width: 100% !important;
                  * {
                    width: 100% !important;
                  }
                }
                .menu-group-title {
                  padding: 16px;
                  margin-bottom: 0;
                  border-top: solid 1px $gray02 !important;
                  &:after {
                    display: none;
                  }
                }

                .menu-sub-item {
                  width: 100% !important;
                  display: block !important;
                  margin-bottom: 0;
                  padding: 16px 32px;
                  background-color: $gray01;
                  border-top: solid 1px $gray02;
                  img {
                    display: none;
                  }
                  .box-icon--txt {
                    font-size: 14px !important;
                    font-weight: 500;
                    p {
                      display: none;
                    }
                  }
                  .trust-badge-item {
                    padding: 0;
                    p {
                      display: none;
                    }
                    .trust-badge-item--title {
                      margin: 0;
                      font-size: 14px;
                      font-weight: 500;
                    }
                  }
                  * {
                    width: 100% !important;
                    text-align: left;
                  }
                }
              }
            }

            &.active {
              .menu-sub {
                display: block;
              }
              .menu-item-btn {
                transform: rotate(90deg);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    
    .logo > div {
      display: none;
    }

    .logo {
      img {
        height: 48px;
        width: 48px;
      }
      width: 63px;
    }
  }
}

.menu-button, .search-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-button {
  span {
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: #231F20;
    margin-bottom: 4px;
    transition: all .3s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.active {
    margin-top: -5px;
    span {
      width: 24px;
      display: none;
      &:first-child {
        display: block;
        transform: rotate(45deg) translateY(4px) translateX(4px);
      }
      &:last-child {
        display: block;
        transform: rotate(-45deg);
      }
    }
  }
}