.img-box {
  display: flex;
  align-items: center;
  .img-box--img {
    width: 40%;
  }

  .img-box--txt {
    width: 60%;
    padding: 0 96px 0px 30px;
    font-weight: 500;
  }

  @media (max-width: 640px) {
    flex-direction: column-reverse;
    .img-box--img,
    .img-box--txt {
      width: 100%;
    }

    .img-box--img {
      margin-bottom: 32px;
    }
    .img-box--txt {
      padding: 0 30px;
    }
  }
}

.img-box-h {
  margin-bottom: 72px;
}

.img-box-v {
  display: block;
  img {
    border-radius: 4px;
  }
  .img-box--txt {
    margin-top: 10px;
    font-weight: 600;
    color: $gray05;
  }
}
