.majors {
  border-top: solid 4px $secondary-red;
  background: $white;
  padding: 32px 40px;
  margin-top: -152px;
  @media (max-width: 640px) {
    padding: 24px 20px;
  }
  .majors-title {
    margin-bottom: 44px;
    @media (max-width: 640px) {
      margin-bottom: 24px;
    }
  }

  .majors-body {
    border-bottom: solid 1px $gray02;
  }

  .majors-footer {
    padding-top: 28px;
    a {
      font-weight: 500;
      font-size: 22px;
      i {
        font-size: 18px;
      }
    }
    @media (max-width: 640px) {
      a {
        font-size: 18px;
      }
    }
  }
}

.majors-item {
  margin-bottom: 24px;
}