.members {
  .members-header {
    margin-bottom: 32px;
  }
  .members-item {
    text-align: center;
    padding: 32px 0;
    .member-image {
      padding: 0 30px;
      margin-bottom: 24px;
    }
    .member-txt {
      p {
        margin-bottom: 24px;
        font-size: 14px;
      }
    }
  }
}