.nav-bar {
  background-color: $primary;
  color: #ffffff;
  .nav-bar--inner {
    overflow-x: auto;
  }
  ul {
    text-align: center;
    margin: auto;
    li {
      display: inline-block;
      font-weight: 500;
      color: #ffffff;
      a {
        color: #ffffff;
        padding: 18px 20px;
        display: block;
        i {
          display: none;
        }
      }
    }
  }

  .nav-bar--select, .nav-title {
    display: none;
  }


  @media (max-width: 960px) {
    ul {
      text-align: left;
      width: 100%;
    }
    .nav-bar--select, .nav-title {
      display: block;
    }

    .nav-bar--select {
      font-weight: 500;
      font-size: 18px;
      padding: 12px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        margin-left: 8px;
      }
    }

    .nav-bar--inner {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 999;
      background-color: #000000cc;
      align-items: center;
      padding: 0 20px;
      .nav-bar--items {
        width: 100%;
        background-color: #ffffff;
        border-radius: 8px;
      }
      .nav-title {
        padding: 16px 20px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
      }
      ul {
        overflow-x: hidden;
        max-height: 80vh;
        overflow-y: auto;
        li {
          display: block;
          color: $gray04;
          a {
            color: $gray04;
            padding: 16px 20px;
            border-top: solid 1px $gray02;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &.active {
            color: $primary-dark;
            a {
              color: $primary-dark;
              i {
                display: block;
              }
            }
          }
        }
      }
      &.active {
        display: flex;
      }
    }
  }
}