.page-title {
  font-weight: 600;
  color: $primary-dark;
  position: relative;
  font-size: 30px;
  line-height: 1.5;
  &:after {
    position: absolute;
    content: "";
    width: 32px;
    height: 4px;
    background-color: $secondary-red;
    left: 0;
    top: -16px;
  }
  @media (max-width: 960px) {
    font-weight: 600;
    font-size: 26px;
  }
  @media (max-width: 640px) {
    font-weight: 500;
    font-size: 24px;
  }
}

.page-des {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 0;
  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.page-header {
  min-height: 240px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 50px;
  overflow: hidden;
  padding-bottom: 0;
  margin: 0;
  border: none;
  .container {
    height: 100%;
  }
  .page-header--inner {
    height: 100%;
  }
  .page-caption {
    background-color: #ffffffcc;
    display: inline-block;
    max-width: 100%;
    min-width: 400px;

    .page-caption--inner {
      position: relative;
      padding: 44px 32px 24px 32px;

      &:after {
        content: "";
        position: absolute;
        top: -24px;
        right: -24px;
        width: 24px;
        height: 48px;
        background-color: $secondary-red;
      }

      &:before {
        content: "";
        position: absolute;
        top: -24px;
        right: 0;
        width: 24px;
        height: 24px;
        background-color: $secondary-red;
      }
    }

    &.page-caption-dark {
      background-color: #121E28cc;
      color: #ffffff;
      .page-title {
        color: #ffffff;
      }
    }
  }

  @media (max-width: 960px) {
    .page-caption {
      min-width: auto;
    }
    &.page-header--dark {
      padding: 0;
      .container {
        padding: 0;
        max-width: 100%;
      }
    }
    .page-caption.page-caption-dark {
      .page-caption--inner {
        padding: 80px 40px 46px 40px;
        &:before {
          display: none;
        }
      }
    }
  }

  @media (max-width: 640px) {
    padding: 0;
    min-height: auto;
    .container {
      padding: 0;
      max-width: 100%;
    }
    .page-caption {
      .page-caption--inner {
        padding: 72px 20px 48px 20px;
        &:before {
          display: none;
        }
      }
    }
  }
}

.page-header-normal {
  padding-top: 44px;
  background-color: $gray01;
}

.page-header-sm {
  min-height: 172px;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

