.recruitment {
  h2 {
    margin-bottom: 24px;
    color: #ffffff;
  }
  p {
    margin-bottom: 32px;
  }

  .btn {
    width: 212px;
    font-weight: 600;
  }

  @media (max-width: 960px) {
    .bg-img {
      height: 360px;
      padding: 0;
    }
  }

  @media (max-width: 640px) {
    .bg-img {
      height: 400px;
      padding: 0;
      .bg-img__inner {
        background-color: #00000099;
      }
    }
  }
}