.section-notes {
  padding-top: 72px;
  .note-item {
    text-align: center;
    img {
      margin-bottom: 32px;
      height: 72px;
    }
    @media (max-width: 960px){
      margin-bottom: 32px;
      img {
        margin-bottom: 16px;
      }
    }
  }
}