.section-study {
  .study-header {
    margin-bottom: 30px;
  }
  .study-item {
    .bg-img {
      z-index: 0;
    }
    .study-item--txt {
      padding: 20px 16px;
      background-color: #ffffff;
      margin: -60px 20px 0 20px;
      position: relative;
      box-shadow: 0px 2px 2px rgba(18, 30, 40, 0.1);
      h5 {
        margin-bottom: 16px;
      }
      ul {
        list-style: none;
        font-weight: 500;
        li a {
          padding: 8px 0;
          display: block;
          i {
            color: $secondary-red;
            margin-right: 8px;
          }
        }
      }
    }
  }

  @media (min-width: 640px) and (max-width: 960px){
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        padding-right: 24px;
      }
    }
  }
}