.top_bar {
  height: 60px;
  .user-avatar {
    width: 32px;
    height: 32px;
    background: #47D3D3;
    border-radius: 50%;
    position: relative;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    &::after {
      position: absolute;
      width: 36px;
      height: 36px;
      content: "";
      background-color: #47d3d34d;
      top: -2px;
      left: -2px;
      border-radius: 50%;
    }
  }
  .menu-item>a {
    color: $white;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .top_bar--left,.top_bar--right {
    margin: 0 -12px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 7px;
    font-weight: 500;
    font-size: 14px;
    &:hover {
      background-color: #ffffff;
      color: $primary-dark;
    }
  }

  .lang {
    position: relative;
    height: 20px;
    margin-right: 24px;
    margin-left: 12px;
    cursor: pointer;
    img {
      height: 20px;
      width: 28px;
      object-fit: cover;
      display: block;
    }

    .lang-select {
      width: 172px;
      &.show {
        visibility: inherit;
        opacity: 1;
        transform: translateY(0px);
      }

      .lang-option {
        display: flex;
        align-items: center;
        width: 150px;
        padding: 10px 16px;
        padding-right: 28px;
        position: relative;
        color: $gray04;
        img {
          margin-right: 8px;
        }
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
          width: 12px;
        }
        &.active {
          color: $primary-dark;
        }
      }
    }
  }

  @media (max-width: 960px) {
    .menu-sub {
      display: none;
    }
    .top_bar--right {
      display: none;
    }
  }

  @media (max-width: 640px) {
    
  }
}
