.trust-badge-item {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  p {
    flex: 1 0 auto;
  }

  img {
    height: 80px;
  }

  .trust-badge-img--circle {
    width: 240px;
    border-radius: 50%;
    overflow: hidden;
  }

  .trust-badge-item--title {
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .trust-badge-item--link {
    display: inline-block;
    margin-top: 16px;
  }
}

.trust-badge-item--sm {
  padding: 0 15px;
  img {
    height: 56px;
  }
  .trust-badge-item--title {
    font-size: 16px;
    margin-top: 12px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
}
