@font-face {
  font-family: 'yinfoc';
  src:  url('fonts/yinfoc.eot?a2hsfi');
  src:  url('fonts/yinfoc.eot?a2hsfi#iefix') format('embedded-opentype'),
    url('fonts/yinfoc.ttf?a2hsfi') format('truetype'),
    url('fonts/yinfoc.woff?a2hsfi') format('woff'),
    url('fonts/yinfoc.svg?a2hsfi#yinfoc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yinfoc' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-exit:before {
  content: "\e918";
}
.icon-ic-file-text:before {
  content: "\e919";
}
.icon-ic-log-out:before {
  content: "\e91a";
}
.icon-ic-people:before {
  content: "\e91b";
}
.icon-ic-checkmark:before {
  content: "\e916";
}
.icon-ic-close:before {
  content: "\e917";
}
.icon-calendar-1:before {
  content: "\e90f";
}
.icon-arrowhead-left:before {
  content: "\e910";
}
.icon-arrowhead-right:before {
  content: "\e911";
}
.icon-calendar-2:before {
  content: "\e912";
}
.icon-map:before {
  content: "\e913";
}
.icon-tag:before {
  content: "\e914";
}
.icon-view:before {
  content: "\e915";
}
.icon-ic-calendar:before {
  content: "\e90e";
}
.icon-ic-arrow-down:before {
  content: "\e900";
}
.icon-ic-arrow-left:before {
  content: "\e901";
}
.icon-ic-arrow-right:before {
  content: "\e902";
}
.icon-ic-arrow-up:before {
  content: "\e903";
}
.icon-ic-back-top:before {
  content: "\e904";
}
.icon-ic-facebook:before {
  content: "\e905";
}
.icon-ic-google:before {
  content: "\e906";
}
.icon-ic-home:before {
  content: "\e907";
}
.icon-ic-linkin:before {
  content: "\e908";
}
.icon-ic-location:before {
  content: "\e909";
}
.icon-ic-mail:before {
  content: "\e90a";
}
.icon-ic-phone:before {
  content: "\e90b";
}
.icon-ic-search:before {
  content: "\e90c";
}
.icon-ic-twiter:before {
  content: "\e90d";
}
