.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;

  &--elip {
    border-radius: 50%;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
  }

  &--home-banner {
    padding-top: calc( 100% * 560 / 1440 );
  }

  &--thumb-lg {
    padding-top: calc( 100% * 342 / 480 );
  }

  &--thumb-md {
    padding-top: calc( 100% * 240 / 392 );
  }

  &--banner {
    padding-top: 0;
    height: 480px;
  }

  &--43 {
    padding-top: calc( 100% * 3 / 4 );
  }

  &--34 {
    padding-top: calc( 100% * 4 / 3 );
  }

  &--23 {
    padding-top: calc( 100% * 3 / 2 );
  }

  &--169 {
    padding-top: calc( 100% * 9 / 16 );
  }

  &--32 {
    padding-top: calc( 100% * 2 / 3 );
  }
}

@each $color, $value in $bg-colors-dark {
  .bg-#{$color} {
    background-color: $value !important;
    color: #ffffff;
  }
}

@each $color, $value in $bg-colors-light {
  .bg-#{$color} {
    background-color: $value !important;
    color: $gray05;
  }
}