.box-icon {
  display: flex !important;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    object-fit: cover;
  }
  .box-icon--txt {
    width: calc(100% - 32px - 16px);
    font-weight: 500;
    font-size: 16px !important;
  }

  &.box-icon--lg {
    align-items: flex-start;
    img {
      width: 48px;
      height: 48px;
    }
    .box-icon--txt {
      width: calc(100% - 48px - 16px);
      font-weight: 600;
      p {
        font-size: 12px;
        margin-top: 4px;
        font-weight: 400;
      }
    }
  }
}
