.box {
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: solid 2px $gray02;
  .box-title {
    margin-bottom: 12px;
    i {
      color: $secondary-red;
      font-size: 16px;
    }
  }
}

.box-vertical {
  background-color: $gray01;
  .box-vertical--txt {
    padding: 48px 48px 48px 36px;
    h3 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 32px;
    }
    a i {
      font-size: 14px;
    }
  }
}

.box-radius {
  border-radius: 12px;
  overflow: hidden;
}

.box-links {
  .box-links-title {
    font-weight: bold;
    margin-bottom: 12px;
  }
  ul {
    padding-left: 20px;
    li {
      &::marker {
        color: $primary;
      }
      a {
        color: $primary;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}

.box-info {
  padding: 24px;
  background-color: $gray01;
  .box-info-name {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 8px;
    color: $primary-dark;
  }
  .box-info-des {
    font-weight: 500;
    font-size: 16px;
  }
}

.box-logo {
  text-align: center;
  &-img {
    background-color: $gray01;
    position: relative;
    padding-top: calc(100% / 264 * 112);
    border-radius: 4px;
    overflow: hidden;
    transition: all .2s;
    &--inner {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 18px;
      top: 0;
      left: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-name {
    font-weight: 500;
    font-size: 16px;
    padding: 12px 18px;
  }

  &:hover {
    .box-logo-img {
      background: #FFFFFF;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

.box-overlay {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    top: 0;
    left: 0;
    z-index: 2;
  }
  .box-overlay--caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px;
    color: #ffffff;
  }
}