.breadcrumb-yf {
  list-style: none;
  padding: 28px 0;
  li {
    display: inline-block;
    color: $primary-dark;
    font-weight: 500;
    font-size: 14px;
    a {
      color: $primary-dark;
      font-weight: 400;
    }
  }

  @media (max-width: 640px) {
    display: none;
  }
}