.btn {
  border-radius: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding: 14px 30px;
  font-size: 16px;
  i {
    margin-right: .5em;
  }

  &--radius {
    border-radius: 50px;
  }

  &--sm {
    padding: .67em 1.33em;
    font-size: 1.2rem;
  }

  &--md {
    padding: .5em 2em;
    font-size: 1.8rem;
  }

  &--lg {
    padding: 1.5em 2em;
    font-size: 1.8rem;
  }

  &--circle {
    border-radius: 99999px;
  }

  &.btn--red {
    background-color: $secondary-red;
    color: $white;
  }
}