.y-collapse {
  background-color: $gray01;
  .y-collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    cursor: pointer;
  }

  .y-collapse-icon {
    margin-left: 10px;
  }

  .y-collapse-title--txt {
    font-weight: 600;
    font-size: 20px;
    color: #0E2D80;
    display: flex;
    align-items: center;
  }

  .y-collapse-title--tool {
    a {
      color: $gray05;
      opacity: 0.5;
      font-weight: 600;
      padding: 10px 0;
      &:hover {
        color: $secondary-orange;
      }
    }
  }

  .y-collapse-content {
    padding: 0 24px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-out;
  }

  .y-collapse-content-insert {
    margin-top: 16px;
  }

  &.open {
    .y-collapse-content {
      padding-bottom: 24px;
      visibility: inherit;
      opacity: 1;
      height: auto;
    }

    .y-collapse-icon {
      transform: rotate(180deg);
    }
  }
  
  @media (max-width: 640px) {
    .y-collapse-title {
      display: block;
    }

    .y-collapse-title--tool {
      margin-top: 10px;
    }
    .y-collapse-title--txt {
      width: 100%;
      justify-content: space-between;
      font-size: 18px;
      align-items: flex-start;
    }
    .y-collapse-icon {
      margin-top: 5px;
    }
  }
}