.yinfoc-dropdown {
  position: relative;
  cursor: pointer;
  .yinfoc-dropdown-content {
    color: $gray04;
    position: absolute;
    z-index: 99;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 10px);
    right: 0;
    transform: translateY(10px);
    transition: all .3s;
    z-index: 99;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 100px;
    padding: 8px 0;
    max-height: 250px;
    overflow-y: auto;
    .yinfoc-dropdown-item {
      padding: 8px;
      i {
        width: 20px;
        margin-left: 8px;
      }
      &.active {
        color: $primary-dark;
      }
    }
    &.show {
      visibility: inherit;
      opacity: 1;
      transform: translateY(0px);
    }
    &.align-left {
      right: unset;
      left: 0;
    }
  }

  &:hover {
    .yinfoc-dropdown-content {
      visibility: inherit;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .yinfoc-dropdown-item {
    padding: 8px 18px;
    color: $gray04;
    cursor: pointer;
    font-weight: normal;
    &:hover {
      background-color: $gray01;
      color: $gray05;
    }
  }
}