.form-control {
  background-color: $gray01;
  border-color: #ecedee;
  box-shadow: none;
  padding: 8px 12px;
  height: 40px;
}

.input-group {
  .input-group-addon {
    background-color: $gray01;
    border-right: none;
    padding-right: 0;
    border-color: #ecedee;
  }

  .form-control {
    border-left: none;
    &:focus {
      border-color: #ecedee;
      outline: 0;
      box-shadow: none;
    }
  }
}
