.menu-item {
  color: $gray05;
  &>a {
    padding: 8px 12px;
    font-weight: 600;
    i {
      margin-right: 8px;
    }
    .menu-item-btn {
      display: none;
    }
    @media (max-width: 640px) {
      padding: 8px 10px;
    }
  }
  &.is-show-mb {
    display: none !important;
  }
  &:hover {
    &>a {
      color: $secondary-yellow !important;
    }
    .menu-sub {
      visibility: inherit;
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (max-width: 640px) {
    &.is-show-mb {
      display: block !important;
    }
  }
}

.menu-sub {
  padding-top: 18px;
  position: absolute;
  width: 867px;
  z-index: 99;
  visibility: hidden;
  transform: translateY(10px);
  opacity: 0;
  transition: all .2s ease-in-out;
  left: 0px;
  box-shadow: 0px 2px 12px rgba(26, 27, 134, 0.1);
  max-height: 460px;
  overflow-y: auto;
  &.active {
    visibility: inherit;
    transform: translateY(0);
    opacity: 1;
  }
  .menu-sub--inner {
    background-color: #ffffff;
    padding: 32px 28px;
    display: flex;
    flex-wrap: wrap;
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .menu-sub-item {
      width: calc(100% / 3);
      padding-right: 20px;
      margin-bottom: 24px;
      color: $gray05;
      font-weight: 500;
      font-size: 16px;
      display: block;
      i {
        margin-right: 5px;
      }
    }

    .menu-group {
      width: 25%;
    }
  }
  &.menu-sub--sm {
    width: 342px;
    .menu-sub-item {
      width: 100% !important;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.menu-sub--link {
    width: 342px;
    box-shadow: 0px 2px 12px rgba(26, 27, 134, 0.1) !important;
    top: calc(100% + 5px) !important;
    .menu-sub-item {
      width: 100% !important;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.menu-sub--lg {
    width: 976px;
  }

  &.menu-sub--full {
    width: 100%;
    box-shadow: 0px 2px 12px rgba(26, 27, 134, 0.1);
    border-top: solid 2px $gray03;
    .menu-sub--inner {
      padding: 20px;
    }

    .menu-group {
      .menu-group-title {
        position: relative;
        z-index: 999;
        margin-bottom: 32px;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          height: 4px;
          width: 72px;
          background-color: $secondary-red;
        }
      }
      .menu-sub-item {
        width: 100%;
        margin-bottom: 16px;
        padding-left: 0;
        font-size: 14px;
      }
    }
  }

  .list-img-box {
    width: 548px;
    display: flex;
    justify-content: space-between;
    .img-box-v {
      width: 156px;
    }
  }

  .list-link {
    width: calc(100% - 548px - 48px);
    margin-left: 48px;
    a {
      display: block;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 960px) {
    display: none;
    max-height: inherit;
  }
}