.new-box {
  color: $gray04;
  .new-tag {
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .new-title {
    font-weight: bold;
    color: $gray05;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .new-info p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  @media (max-width: 640px) {
    .new-title {
      font-size: 18px !important;
    }
  }

  &.new-vertical {
    .new-box--img {
      position: relative;
    }
    .new-tag {
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: 30px;
      padding: 6px 12px;
      border-radius: 0;
    }
    .new-title {
      &.new-title--sm {
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 960px) {
          font-size: 16px !important;
        }
      }
    }
  }

  &.new-horizontal {
    display: flex;
    align-items: flex-start;
    .new-box--img {
      width: 120px;
      &.new-box--img-lg {
        width: 184px;
      }
    }
    .new-info {
      width: calc(100% - 120px - 16px);
      margin-left: 16px;
      .new-title {
        font-size: 16px;
        color: $gray05;
        margin-bottom: 8px;
        font-weight: 500;
      }
    }

    @media (max-width: 640px) {
      .new-title {
        font-size: 14px !important;
      }
      .new-box--img {
        &.new-box--img-lg {
          width: 120px;
        }
      }
    }
  }

  &.new-overlay {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 57.86%,
        rgba(0, 0, 0, 0.8) 100%
      );
      top: 0;
      left: 0;
      z-index: 1;
    }
    .new-info {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 2;
      color: #ffffff;
      .new-title {
        color: #ffffff;
        margin-bottom: 16px;
        font-size: 26px;
        &.new-title--sm {
          font-size: 18px;
          margin-bottom: 8px;
          font-weight: 500;
        }
      }

      .new-tag {
        margin-bottom: 20px;
      }
    }
  }
}

.new-note {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #71787e;
}

.new-note--item {
  margin-right: 16px;
  font-size: 14px;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 640px) {
    font-size: 12px;
    margin-right: 10px;
  }
}

.new-category-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .new-category--title {
    margin-bottom: 0;
  }
  .new-category--view-all {
    display: flex;
    align-items: center;
    i {
      margin-left: 8px;
    }
  }
}

.news-detail {
  font-weight: 500;
  text-align: justify;
  p {
    margin-bottom: 12px;
  }
  a {
    color: $primary;
  }
  ul,
  ol {
    padding-left: 1em;
    margin-bottom: 12px;
    li {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.news-search {
  background-color: #ffffff;
  transform: translateY(0);
  &.searchAffix {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    position: fixed;
    padding-bottom: 0 !important;
    transition: transform .3s;
    transform: translateY(56px);
    box-shadow: 0px 2px 12px rgba(26, 27, 134, 0.1);
    label {
      display: none !important;
    }
  }
}
