.leader {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-img {
    width: 240px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 24px;
  }

  &-name {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: $primary-dark;
    margin-bottom: 4px;
  }
  &-des {
    font-weight: 500;
    font-size: 14px;
  }
  &-link {
    font-weight: 500;
    font-size: 16px;
    color: $primary;
    margin-top: 16px;
    display: flex;
    align-items: center;
    i {
      margin-left: 8px;
    }
  }
}