.pagination {
  margin: 0;
  &>li {
    a {
      margin: 6px;
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      border: none;
      color: $gray05;
    }
    &.active a{
      background-color: $gray05;
    }
  }
}