.semester {
  .semester-title {
    font-size: 18px;
    font-weight: bold;
  }
}

.subject {
  padding: 12px 20px;
  background: $gray01;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: all .3s;

  .subject-name {
    font-weight: 500;
    font-size: 16px;
  }

  ul.subject-info {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    li {
      width: 50%;
      margin-top: 8px;
      font-size: 14px;
    }
  }

  &:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
}