
.tab-bar {
  display: flex;
  overflow-x: auto;
  padding-bottom: 12px;

  &.tab-bar--full {
    .tab-bar-item {
      flex: 1 0 auto;
      padding: 16px;

      &.active {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -12px;
          left: 50%;
          transform: translateX(-50%);
          border-top: 6px solid $secondary-red;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          border-bottom: 6px solid transparent;
          z-index: 2;
        }

        .tab-bar-item--title {
          color: $secondary-red;
        }
      }
    }
  }

  &.tab-bar--border {
    position: relative;
    padding-bottom: 0;
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: $gray02;
      z-index: -1;
    }
  }

  &.tab-bar--news {
    width: 100%;
    overflow-x: auto;
    .tab-bar--inner {
      display: flex;
    }
    .tab-bar-item {
      font-weight: 500;
      padding: 10px 0;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        border-bottom: none;
        background-color: transparent;
        color: $secondary-blue-sky;
        position: relative;
        &:after {
          content: "";
          width: 50%;
          height: 2px;
          background-color: $secondary-blue-sky;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }

      @media (max-width: 960px) {
        margin-right: 24px;
      }
    }
  }
}

.tab-bar-item {
  text-align: center;
  padding: 12px 20px;
  box-sizing: border-box;
  cursor: pointer;

  .tab-bar-item--title {
    font-weight: 600;
    font-size: 24px;
  }

  small {
    font-size: 14px;
  }

  &.active {
    border-bottom: solid 2px $secondary-red;
    background-color: $gray01;
  }
}

.tab-content-item {
  padding: 40px 0;
  display: none;

  &.active {
    display: block;
  }
}