.table-primary {
  background-color: $gray01;
  font-size: 16px;
  tr td {
    border-color: $gray02 !important;
    padding: 8px 12px !important;
  }
  thead {
    background-color: $primary-dark;
    color: #ffffff;
    tr td {
      border-color: $primary-dark;
    }
  }
}

.table-work {
  background-color: $gray01;
  font-size: 16px;
  .table-work-time {
    width: 80px;
    text-align: center;
  }
  .table-work-room {
    width: 150px;
  }
  tr td {
    border-color: $gray01 !important;
    padding: 20px 12px !important;
    border-bottom-color: $gray02 !important;
  }
  thead {
    background-color: $primary-dark;
    color: #ffffff;
    tr td {
      border-color: $primary-dark !important;
      padding: 8px 12px !important;
    }
  }
  small {
    color: $gray04;
    font-size: 14px;
    font-weight: 400;
  }

  &.end-date {
    thead {
      background-color: $primary;
    }
  }
}

.table-middle {
  td {
    vertical-align: middle !important;
  }
}

.table-responsive {
  @media (min-width: 1200px) {
    overflow-x: unset;
  }
}