// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
:root {
  font-size: 10px;
  @include media-breakpoint-up(xl) {
    font-size: 10px;
  }
}
html {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-weight: 400;
  font-size: $font-size;
  margin: 0;
  color: $black;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  @media (max-width: 640px) {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition: all 0.3s;
  color: $black;
  &:hover {
    text-decoration: none;
  }

  &.link {
    display: flex;
    align-items: center;
    b {
      font-weight: 500;
    }
    .icon-left {
      margin-right: 8px;
    }
  }
}
hr {
  border: 0;
  height: 1px;
  background: #e0e0e0;
}

img {
  max-width: 100%;
}

input {
  font-size: $font-size;
}

section {
  padding: 36px 0;
  @media (max-width: 640px) {
    padding: 24px 0;
  }
}

hr {
  margin: 0;
  border: none;
  border-top: solid 1px $gray02;
}

label {
  font-weight: 500;
}

.container {
  &:before, &:after {
    content: none;
  }
}

.container--sm {
  @media (min-width: 768px) {
    max-width: 720px;
  }
  
  @media (min-width: 960px) {
    max-width: 980px;
  }

  @media (min-width: 1250px) {
    max-width: 1128px;
  }
}

.shadow-1 {
  box-shadow: 0px 2px 2px rgba(18, 30, 40, 0.1);
}

.shadow-2 {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.shadow-3 {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.shadow-4 {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.shadow-5 {
  box-shadow: 0px 2px 12px rgba(26, 27, 134, 0.1);
}

.section-links {
  margin-bottom: 120px;
}

.section-gray {
  background-color: #fafbfb;
  padding-bottom: 36px;
}

.btn-back-to-top {
  font-size: 32px;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 5%;
  color: #ffffff;
  background-color: $secondary-blue-dark;
  opacity: 0.5;
  display: none;
  cursor: pointer;
}

.btn-back-to-top.show {
  display: flex;
}

.page-content {
  text-align: justify;
  padding: 32px 0;

  ul, ol {
    padding-left: 1em;
  }
  p {
    margin-bottom: 12px;
    font-weight: 500;
  }

  h5,
  h4 {
    padding-top: 28px;
    padding-bottom: 24px;
    margin-bottom: 0;
    &:first-child {
      padding-top: 16px;
    }
  }
}

.w--100 {
  width: 100% !important;
}

.w--50 {
  width: 50% !important;
}

.w--25 {
  width: 25% !important;
}

.w--33 {
  width: calc(100% / 3) !important;
}

.w--67 {
  width: calc(100% / 3 * 2) !important;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.sticky {
  position: sticky;
  background-color: #ffffff;
  z-index: 9999;
  box-shadow: 0px 2px 12px rgba(26, 27, 134, 0.1);
  top: 0;
}


@media (min-width: 960px) { 
  .hidden-pc {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .hidden-mb {
    display: none !important;
  }
}

.control-btn {
  display: flex;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $gray04;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
  }
}
