/**
 * Basic typography style for copy text
 */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 8px;
	line-height: 1.3;
}
h1 {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.3;
}
h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.3;
	@media (max-width: 640px) {
		font-size: 24px;
	}
}

h3 {
	font-size: 30px;
	font-weight: 600;
	line-height: 1.3;
	@media (max-width: 960px) {
		font-size: 26px;
	}
	@media (max-width: 640px) {
		font-size: 22px;
	}
}

h4 {
	font-size: 26px;
	font-weight: 600;
	line-height: 1.3;
	@media (max-width: 640px) {
		font-size: 22px;
	}
}

h5 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.3;
}

h6 {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.3;
}

p {
	margin: 0;
}

small {
	font-size: 14px;
}

.fs {
	&--14 {
		font-size: 14px !important;
	}
	&--15 {
		font-size: 15px !important;
	}
	&--16 {
		font-size: 16px !important;
	}
	&--18 {
		font-size: 18px !important;
	}
	&--20 {
		font-size: 20px !important;
	}
	&--22 {
		font-size: 22px !important;
	}
	&--24 {
		font-size: 24px !important;
	}
}

.text {
	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}

	&--justify {
		text-align: justify;
	}
}

.title {
	margin-bottom: 24px;
	&-md {
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.02em;
		color: $primary-dark;
	}

	&-sm {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: $primary-dark;
	}

	&-xs {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: $primary-dark;
	}
}

@each $color, $value in $bg-colors-dark {
	.text-#{$color} {
		color: $value !important;
	}
}

@each $color, $value in $bg-colors-light {
	.text-#{$color} {
		color: $value !important;
	}
}
