// Font

$font-base: Inter;
$font-size: 16px;
// Color system
$primary-dark: #0E2D80;
$primary: #154BEC;
$secondary-orange: #FF611D;
$secondary-green: #47D3D3;
$secondary-blue-sky: #0094FF;
$secondary-yellow: #FFC003;
$secondary-red: #FF1919;
$secondary-blue-dark: #07184A;
$secondary-blue: #0B2573;

$gray01: #FAFBFB;
$gray02: #ECEDEE;
$gray03: #B8BCBF;
$gray04: #71787E;
$gray05: #121E28;

$white: #ffffff;
$black: #121E28;

$bg-colors-dark: () !default;
$bg-colors-dark: map-merge(
  (
    "primary-dark": $primary-dark,
    "primary": $primary,
    "secondary-orange": $secondary-orange,
    "secondary-green": $secondary-green,
    "secondary-blue-sky": $secondary-blue-sky,
    "secondary-yellow": $secondary-yellow,
    "secondary-red": $secondary-red,
    "secondary-blue-dark": $secondary-blue-dark,
    "secondary-blue": $secondary-blue,
    "white": $white,
    "gray04": $gray04,
    "gray05": $gray05,
  ),
  $bg-colors-dark
);

$bg-colors-light: () !default;
$bg-colors-light: map-merge(
   (
     "white": $white,
     "gray01": $gray01,
     "gray02": $gray02,
     "gray03": $gray03
   ),
   $bg-colors-light
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-hover-media-query: false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 10px !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 1.6,
    ),
    2: (
      $spacer * 2.4,
    ),
    3: (
      $spacer * 3.2,
    ),
    4: (
      $spacer * 4,
    ),
    5: (
      $spacer * 6.4,
    ),
    6: (
      $spacer * 8,
    )
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 960px,
  lg: 1250px,
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 720px,
  md: 980px,
  lg: 1248px,
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 24px !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
  inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

// Printing

$print-page-size: a3 !default;
$print-body-min-width: map-get($grid-breakpoints, "lg") !default;
